
<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Kepler's laws of planetary motion</span>
  <span class="spacer"></span>
  <mat-icon class="help-icon" (click)="openHelp()">help</mat-icon>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      mode="side"
      [opened]="!(isHandset$ | async)">

    <kl-side-nav></kl-side-nav>

  </mat-sidenav>
  <mat-sidenav-content>

    <kl-orbit-simulator [eraseSweeps$]="eraseSweeps$"></kl-orbit-simulator>

  </mat-sidenav-content>
</mat-sidenav-container>
