
@import '~@angular/material/theming';
@import '../../variables';


.sidenav-container {
  height: calc(100% - 64px);
}

.sidenav {
  width: 400px;
  background-color: $primary;
  padding: 0 6px;
}

mat-sidenav-content {
  padding: 12px;
}


.spacer {
  flex: 1 1 auto;
}

.help-icon{
  margin-right: 20px;
  cursor: pointer;
}
