
<div class="buttons-wrapper">
  <button id="start-animation" [class.running]="( isRunning$ | async )" mat-raised-button color="primary" (click)="onAnimationRunningToggled()">
    {{ (isRunning$ | async) ? "Stop animation" : "Start animation" }}
  </button>
</div>


<div class="slider-wrapper">
  <div class="label-wrapper">
    <div class="label">Animation rate</div>
  </div>
  <mat-slider min="0.1"
              max="5"
              thumbLabel="false"
              step="0.1"
              [value]=" (rate$ | async) "
              (input)="onAnimationRateChanged($event.value)"
              ></mat-slider>
</div>
