

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-amber);
$app-warn:    mat-palette($mat-pink);


$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
